* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    font-family: 'Lateef', cursive;
    font-size: 18px;
    background-color: hsla(21, 40%, 73%, 0.778);
    color: hsla(22, 33%, 16%, 0.749);
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 33px;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
}

h4 {
    font-size: 1.3rem;
}

header {
    position: fixed;
    width: 100%;
    height: 69px;
   
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: hsl(21, 34%, 78%);
    border-bottom: 1px solid seashell;
}

.logo {
    height: 30px;
    padding-left: 10px;

}

header ul {
    display: flex;
    list-style-type: none;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    overflow: hidden;
}

li a {
    color: hsla(22, 33%, 16%, 0.749);
}

.mission-container {
    background: url('/tea cozy/img/img-mission-background.webp') no-repeat center center;
    background-size: cover;
    top: 69px;
    height: 700px;
    position: relative;
    margin-bottom: 100px;
}

.mission-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background-color: hsla(21, 40%, 73%, 0.778);
    padding: 10px 0;
}

.ftea-info {
    text-align: center;
    margin-top: 100px;
    padding: 10px 0 20px 0;
}

.gallery {
    width: 60%;
    /*  background-color: rebeccapurple; */
    margin-left: 20%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.gallery figure {
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 25px 0;
}

#locations {
    background: url('/tea cozy/img/img-locations-background.webp') no-repeat center center;
    height: 500px;
    width: 100%;
    background-size: cover;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#locations h2 {
    text-align: center;
    position: absolute;
    top: 10%;
}

.location-box {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.address {
    width: 300px;
    height: 300px;
    background-color: hsla(21, 40%, 73%, 0.778);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer .contacts {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer p {
   padding: 20px;
}